<section class="section-block section-content">
    <h1 class="section-title">
        Descubra como trabalhamos!
    </h1>
    <div class="grid grid-cols-1 auto-cols-fr lg:auto-rows-fr gap-6">
        {% for work in collections.works %}
            <article class="card lg:card-side bg-base-100 card-border">
                <figure class="not-prose">
                    <img class="w-3xl" src="{{ work.data.image }}" alt="FMR Logo"/>
                </figure>
                <div class="card-body lg:w-1/2">
                    <h2 class="card-title uppercase not-prose text-3xl font-bold text-black">{{ work.data.title }}</h2>
                    <div class="lg:text-xl">
                        {{ work.content | safe }}
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</section>
