<section class="section-block">
    <article>
        <p>
            A
            <strong>Francisco Marques Rodrigues, SA (FMR)</strong>
            está no centro da sustentabilidade em Portugal, especializada na recuperação de resíduos para reciclagem. Com mais de
            <strong>60 anos de história</strong>, combinamos a nossa paixão pelo ambiente com um serviço de excelência, assegurando
                que os resíduos de hoje se tornam os recursos de amanhã. Na
            <strong>FMR</strong>, trabalhamos todos os dias para construir um futuro mais sustentável, um resíduo de cada vez.
        </p>
        <div class="flex justify-end">
            <a href="/fmr" class="btn btn-link">
                Saiba mais
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </article>
    <div class="section-divider"></div>
    <article>
        <p>
            Simplificamos o caminho dos seus resíduos para a reciclagem. Com um processo que inclui
            <strong>recolha no cliente</strong>,
            <strong>triagem tecnológica</strong>
            e
            <strong>enfardamento</strong>, asseguramos que cada material tem um novo propósito, contribuindo ativamente para a sustentabilidade.
        </p>
        <div class="flex justify-end">
            <a href="/processo" class="btn btn-link">
                Saiba mais
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </article>
</section>
