---
layout: base.njk
title: Home
permalink: /
---

{% include "sections/home/landing.njk" %}
{% include "sections/home/know-more.njk" %}
<div class="section-divider"></div>
{% include "sections/home/recent-news.njk" %}
