<section>
    <article>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.4716250149277!2d-9.144646988136856!3d38.798745571627535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd192d8029067e79%3A0xb0b96eeea5d7b983!2sFrancisco%20Marques%20Rodrigues%20SA!5e0!3m2!1sen!2spt!4v1754051284034!5m2!1sen!2spt"
            class="w-full h-80"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="section-content text-center mt-6">
            <h6 class="font-bold">Francisco Marques Rodrigues SA</h6>
            <p>Quinta de Pau Varais <br/> Az. Fetais, Apartado 1123, 2686-801 <br/> Camarate</p>
            <p style="font-variant-numeric: tabular-nums;">
                <strong>tel:</strong>
                <a
                    value="tel:+351219480326"
                    label=""
                    type="call"
                    href="tel:+351219480326"
                    data-runtime-url="tel:+351219480326"
                    target="_blank">
                    +351 219 480 326
                </a>
                <br/>
                <strong>fax:</strong>
                +351 219 478 352
            </p>
            <p>
                <a class="link" href="mailto:geral@fmrsa.pt">geral@fmrsa.pt</a>
            </p>
        </div>
    </article>
</section>
