<section class="section-block">
    <article>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3109.4716250149277!2d-9.144646988136856!3d38.798745571627535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd192d8029067e79%3A0xb0b96eeea5d7b983!2sFrancisco%20Marques%20Rodrigues%20SA!5e0!3m2!1sen!2spt!4v1754051284034!5m2!1sen!2spt"
            class="w-full h-80"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="text-center mt-6">
            <h6 class="font-bold">Francisco Marques Rodrigues SA <br/> Sede</h6>
            <p>Quinta de Pau Varais <br/> Az. Fetais, Apartado 1123, 2686-801 <br/> Camarate</p>
            <p style="font-variant-numeric: tabular-nums;">
                <strong>tel:</strong>
                +351 219 480 326 <br/>
                <strong>fax:</strong>
                +351 219 478 352
            </p>
            <p>
                <a class="link" href="mailto:geral@fmrsa.pt">geral@fmrsa.pt</a>
            </p>
        </div>
    </article>
    <div class="section-divider"></div>
    <article>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11192.955873231076!2d-8.592132108857026!3d40.99836032401402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2478de238ad179%3A0x83a81e3700be56e4!2sFrancisco%20Marques%20Rodrigues%20SA%20-%20Filial!5e0!3m2!1sen!2spt!4v1754052929961!5m2!1sen!2spt"
            class="w-full h-80"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="text-center mt-6">
            <h6 class="font-bold">Francisco Marques Rodrigues SA <br/> Filial</h6>
            <p>R. Concharinha 209, 4536-907 <br/> São Paio de Oleiros</p>
            <p style="font-variant-numeric: tabular-nums;">
                <strong>tel:</strong>
                +351 227 649 984
            </p>
            <p>
                <a class="link" href="mailto:geral@fmrsa.pt">geral@fmrsa.pt</a>
            </p>
        </div>
    </article>
</section>
