<section class="section-block">
    <h1 class="section-title">
        Continua com dúvidas? Não hesite!
    </h1>
    <ul>
        <li>
            Valorize os seus desperdícios (dependente do transporte e quantidades);
        </li>
        <li>
            Cada 50 quilos de papel usado e transformado em papel novo, evita que uma árvore seja cortada;
        </li>
        <li>
            A Reciclagem contribui para a criação de postos de trabalho;
        </li>
        <li>
            Poupa energia, uma vez que a fabricação de produtos gerados a partir de materiais reciclados despende menos energia
            quando comparada à produção que utiliza matéria-prima virgem.
        </li>
    </ul>
</section>
