<section class="section-block section-content">
    <h1 class="section-title">
        Destruição de documentos
    </h1>
    <figure>
        <img class="mx-auto" src="/assets/images/documentos.png" alt="FMR Logo" class="w-auto"/>
    </figure>
    <ul>
        <li>
            A Francisco Marques Rodrigues SA garante que a destruição dos seus desperdícios, documentação e material obsoleto
            decorra de forma eficiente e confidencial. Mediante marcação, esta destruição pode ser assistida por si, e/ou pela
            Autoridade Tributária e Aduaneira.
        </li>
        <li>
            Todo o material passível de reciclagem é processado e encaminhado para a indústria recicladora. Este processo aumenta o
            ciclo de vida dos materiais reciclados, contribuindo assim para uma redução dos impactos ambientais.
        </li>
        <li>
            Sempre que solicitado, emitimos um auto de destruição que assegura a confidencialidade e a destruição da documentação
            para efeitos fiscais.
        </li>
    </ul>
</section>
