<section class="section-block">
    <h1 class="section-title">
        Recolha e transporte do seu arquivo
    </h1>
    <div>
        <img class="mx-auto" src="/assets/images/produtos.png" alt="FMR Logo" class="w-auto"/>
    </div>
    <ul>
        <li>
            Disponibilizamos
            <strong>Contentores</strong>,
            <strong>Grades</strong>
            e
            <strong>Big Bags</strong>
            para armazenar os seus resíduos.
        </li>
        <li>
            Efectuamos o transporte do seu arquivo até às nossas instalações.
        </li>
    </ul>
</section>
