<section class="section-block">
    <h1 class="section-title">Quem somos</h1>
    <p>A Francisco Marques Rodrigues, SA (FMR) é uma empresa especializada na recuperação de resíduos com o objectivo de
        encaminhá-los para a reciclagem.</p>
    <p>Os Resíduos são entregues nas nossas instalações ou recolhidos pelas nossas viaturas. Efectuamos a triagem de acordo
        com as características dos diferentes materiais e reencaminhamos os mesmos para a reciclagem.</p>
    <p>O nosso alvará permite-nos trabalhar com uma grande variedade de resíduos. Consulte aqui o nosso alvará e a listagem
        de resíduos com que trabalhamos:
        <a href="/assets/docs/licenca31.pdf">Alvará FMR</a>
    </p>
    <div>
        <img class="mx-auto" src="/assets/images/logo-icon.png" alt="FMR Logo" class="w-auto"/>
    </div>
</section>
