<section class="section-block">
    <h1 class="section-title">A nossa história</h1>
    <ul class="timeline timeline-snap-icon timeline-compact timeline-vertical not-prose">
        {% if timeline.items %}
            {% for item in timeline.items %}
                <li>
                    {% if loop.first == false %}
                        <hr/>
                    {% endif %}
                    <div class="timeline-middle inline-flex align-top">
                        <i class="fa-solid fa-circle-chevron-right text-orange-300 mt-[1px]"></i>
                    </div>
                    <div class="timeline-end text-start mb-10 prose prose-base">
                        <time class="font-bold uppercase text-xl">{{ item.date }}</time>
                        {% if item.title %}
                            <div class="lg:text-lg font-black">{{ item.title }}</div>
                        {% endif %}
                        {% if item.text %}
                            <p class="mt-0 lg:text-lg">{{ item.text }}</p>
                        {% endif %}
                    </div>
                    {% if loop.last == false %}
                        <hr/>
                    {% endif %}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</section>
