<div>
    <h1 class="text-2xl font-bold">Responsabilidade social</h1>
    <p>"Missão Tampinhas” - A FMR associou-se ao movimento nacional de recolha de tampinhas de plástico das embalagens,
        estando neste momento a receber as mesmas, canalizando-as para reciclagem, e utilizando o seu valor de venda para a
        doação de equipamentos médicos, ortopédicos ou similares. Estas tampinhas de plástico podem ser entregues por
        particulares ou por empresas, nas instalações de Camarate ou São Paio de Oleiros. Veja aqui o Regulamento da "Missão
        Tampinhas"</p>
</div>
