<section class="section-block">
    <h1 class="section-title">Impacto social</h1>
    <p>
        <strong>"Missão Tampinhas”</strong>
        - A FMR associou-se ao movimento nacional de recolha de tampinhas de plástico das embalagens, estando neste momento a
        receber as mesmas, canalizando-as para reciclagem, e utilizando o seu valor de venda para a doação de equipamentos
        médicos, ortopédicos ou similares. Estas tampinhas de plástico podem ser entregues por particulares ou por empresas, nas
        instalações de Camarate ou São Paio de Oleiros.
        <a href="/assets/docs/regulamento-missao-tampinhas.pdf">Veja aqui o Regulamento da "Missão Tampinhas"</a>
    </p>
    <div>
        <img class="mx-auto" src="/assets/images/missao-tampinhas.png" alt="Tampinhas recolhidas para a missão" class="w-auto"/>
    </div>
</section>
