<div>
    <h1 class="text-2xl font-bold">Os nossos Valores, Missão e Visão</h1>
    <p>A nossa Empresa rege-se pelos seguintes valores:</p>
    <ul>
        <li>Orientação para o Cliente - Confiança, Satisfação e compromisso.</li>
        <li>Orientação para o fornecedor - Focalização nas necessidades, flexibilidade.</li>
        <li>Transparência</li>
    </ul>
    <p>A nossa visão: Ser a empresa de referência a nível nacional na recuperação de papel para reciclagem.</p>
    <p>A nossa missão: Atingir as necessidades e expectativas dos nossos parceiros, colaboradores e acionistas.</p>
</div>
