<section class="section-block section-content">
    <h1 class="section-title">Os nossos Valores, Missão e Visão</h1>
    <p>A nossa Empresa rege-se pelos seguintes valores:</p>
    <ul>
        <li>
            <strong>Orientação para o Cliente</strong>
            - Confiança, Satisfação e compromisso.
        </li>
        <li>
            <strong>Orientação para o fornecedor</strong>
            - Focalização nas necessidades, flexibilidade.</li>
        <li>
            <strong>Transparência</strong>
        </li>
    </ul>
    <p>
        <strong>A nossa visão:</strong>
        Ser a empresa de referência a nível nacional na recuperação de papel para reciclagem.
    </p>
    <p>
        <strong>A nossa missão:</strong>
        Atingir as necessidades e expectativas dos nossos parceiros, colaboradores e acionistas.
    </p>
</section>
