<footer class="footer footer-horizontal footer-center p-4 container mx-auto">
    <div>
        <a href="https://www.facebook.com/franciscomarquesrodrigues" class="fa-stack fa-lg" target="_blank">
            <i class="fa-solid fa-square fa-stack-2x"></i>
            <i class="fa-brands fa-facebook-f fa-stack-1x fa-inverse"></i>
        </a>
    </div>
    <p class="text-xs">© {{ "" | now("yyyy") }} All rights reserved to Francisco Marques Rodrigues SA</p>
</footer>
